* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.btn {
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid black;
    color: #fff;
    background: #0000003b;
    cursor: pointer;
}

.btn:hover {
    opacity: .7;
}

h3 {
    background: #00000018;
    border: 1px solid;
    padding: .3rem 1.5rem;
    font-size: 1.2rem;
}